@{
    ViewBag.Title = "About";
}
<div style="padding-top: 20px;">
    <div class="container well">
        <div class="row">
            <div class="col-md-12">
                <h1>HAKKIMIZDA</h1>
                <br />
                <p>
                    Uğur Soğutma, 18 Nisan 1954 yılında Aydın Nazilli’de dondurma makineleri imalatıyla başladığı serüvende bugün, 220.000 m² faal kapalı alana sahip ana fabrikası, 91.000 m² kapalı alana sahip Nazilli Organize Sanayi fabrikası, toplam 2000’den fazla çalışanı, 850’nin üzerinde satış noktası, 240′a yakın Uğur Yetkili Servis Merkezi ile 5 kıtada 142 ülkeye yarım asrı aşan tecrübesi ile hizmet vermektedir.
                </p>
                <p>
                    Ticari ve ev tipi soğutucularda 420′yi aşkın çeşidi ve günlük 4800+ adet üretim kapasitesi ile derin dondurucudan su sebiline, klimadan şişe soğutuculara, dondurma makinelerinden market dolaplarına kadar geniş bir ürün yelpazesine sahip Uğur Soğutma;
                </p>
                <ul>
                    <li>İnovasyon ve Ar-Ge’ye verdiği önem,</li>
                    <li>Modern, teknolojik ve doğaya zarar vermeyen üretim tesisleri,</li>
                    <li>Kurum içi eğitim, özlük haklarında titizlik, “doğru işe doğru insan” ve sosyal sorumluluk bilincini de içine alan kapsamlı İK Politikaları,</li>
                    <li>Gelişime ve sürekli iyileştirmeye açık kalite anlayışı,</li>
                    <li>Çevre dostu ürünleri,</li>
                    <li>Koşulsuz müşteri destek hizmeti ve yetkili servisleri ile hayata geçirdiği gerçek müşteri memnuniyeti bütününde çalışmalarını sürdürür.</li>
                </ul>
                <p>
                    Ayrıca Uğur Soğutma, etkin ve çözüm odaklı çevre politikaları, zorunluluktan öte “sorumluluk” olarak gördüğü sosyal projeler ile ülkemizin ve dünyamızın geleceğine dair bir duyarlılık oluşturmak ve bu duyarlılığı mümkün olduğunca daha geniş çevrelere yaymak konusunda da adından söz ettirmektedir.
                </p>
                <p>
                    60 yılı aşkın tecrübesiyle, soğutma denince akla ilk gelen, Türkiye’nin lider ve öncü markası Uğur Soğutma; dünyanın sayılı şirketlerinden birisi olmanın haklı gururunu yaşamaktadır.
                </p>
            </div>
        </div>
    </div>
</div>